@font-face {
    font-family: Spectral Web;
      font-weight: 400;
      font-style: normal;
      src: url(../../assets/fonts/Spectral-Regular-Web.woff2) format("woff2");
  }

@font-face {
    font-family: Spectral Web;
      font-weight: 400;
      font-style: italic;
      src: url(../../assets/fonts/Spectral-Regular-Italic-Web.woff2) format("woff2");
  }


:root {
    --textColorRGB: 40, 40, 40;
    --textColor: rgb(40, 40, 40);
    --backgroundColor: rgba(247, 247, 247,.8);
    --keyColor: rgb(226, 0, 22);
    --keyColorRGB: 226, 0, 22;
    --hoverColor: rgb(180, 5, 37);
    --telegramRGB: 26, 165, 221;
    --warningRGB: 255, 246, 68;
    --surfaceRGB: 244, 241, 234;

    --link-decoration: underline solid rgba(var(--keyColorRGB), .4) .01em;
}

* {
    box-sizing: border-box;
}



body {
    font: 16px/1.2 "Spectral Web", sans-serif;
}

h1 {
    font-size: 4em;
}

a, .a {
    color: rgb(var(--keyColorRGB));
    text-decoration: var(--link-decoration);
    text-underline-offset: .2em;
    text-decoration-skip: none;
    text-decoration-skip-ink: none;
    transition: color .5s ease;
    position: relative;
}

a:hover, .a:hover {
    color: var(--hoverColor);
    text-decoration-color: currentColor;
    transition: color .0s ease;
} 

.telegram {
    color: rgb(var(--telegramRGB));
    text-decoration-color: rgb(var(--telegramRGB));
}

img {
    width: 100%;
}

button {
    display: block;
    position: relative;
    font-weight: 400;
    width: max-content;
    background-color: rgb(105, 10, 39);
    /* background-color: rgb(0, 0, 0); */
    color: rgb(238, 238, 238);
    font-size: 1.2em;
    max-width: 100%;
    padding: .5em 1em;
    text-decoration: none;
    white-space: normal;
    border-radius: .2em;
    margin-bottom: 1em;
    font-size: 2em;
}

.mediaContainer {
    padding: 2em;
    display: flex;
    flex-flow: column  nowrap;
    align-items: center;
}

video {
    margin-bottom: 1em;
    overflow: hidden;
    width: 100%;
    position: relative;
    clip-path: inset(.2em round .3em);
}

.emoji{
    display: inline-block;
    position: relative;
    vertical-align: -.18em;
    width: 1.1em;
    overflow: hidden;
    margin-left: .1em;
}

.large {
    font-size: 2em;
    text-align: center;
}


video {
    transition: filter .5s ease;
}

video:hover {
    filter: blur(5px) brightness(180%) contrast(90%);
    transition: filter .0s ease;
    clip-path: inset(.2em round .3em)
}

.hide {
    display: none !important;
}

.smallCaps {
    font-variant: small-caps;
}

.warning {
    display: flex;
    flex-flow: column;
    gap: .5em;
    background-color: rgb(var(--warningRGB));
    color: rgb(var(--textColorRGB), 80%);
    font-size: 1.1em;
    padding: .3em 1em .5em .3em;
}

.resultContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 1em 1em 2.3em;
    background-color: rgb(var(--surfaceRGB), 70%);
    margin-bottom: 3em;
    color: var(--keyColor);
    border-radius: .4em;
}

.messageCount p {
    font-size: 1.5em;
    color: rgb(var(--textColorRGB), 60%);
    font-style: italic;
    margin: 0;
}

.messageCount {
    text-align: center;
    margin-bottom: 1.4em;
    padding: 0 2em;
    line-height: 1.1;
}

.icon {
    vertical-align: -.3em;
    width: 1.3em;
    margin-right: .3em;
}

footer {
    font-size: .9em;
    margin-top: 2em;
    padding: .3em 0;
    display: flex;
    border-top: .01em solid rgb(var(--textColorRGB), 20%);
    flex-flow: column wrap;
    gap: .8em;
}

.linksCountainer {
    display: flex;
    flex-flow: row wrap;
    gap: .5em;
}

.linkItem {
    width: 10em;
    padding-right: .5em;
}